.nav__wrap {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: black;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 8px 48px;
    z-index: 10;
    margin-bottom: 4px;
}

.nav__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav__content li {
    padding: 0 48px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: deeppink;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container:nth-child(odd) {
    background-color: paleturquoise;
    border-radius: 0 18px;
    padding: 18px;
    margin: 18px;
}

.container__img {
    border: dotted #ffffff 4px;
}

.container__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    align-items: flex-end;
}

.container__inner--caption {
    text-transform: uppercase;
    font-size: 48px;
}

.container__inner--caption--marker {
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.container__inner--link {
    font-size: 24px;
    background-color: pink;
    padding: 16px;
    margin: 48px 0;
    border-radius: 8px;
    display: table;
}

.container__inner--link:hover {
    color: #000000;
    opacity: 90%;
}

.container__list--item img {
    width: 127px;
    height: 159px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 42px;
    padding: 8px 12px;
    background-color: pink;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}